html 
    head
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet") 
        // link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    body
        //dot means div tag in jade
        .container
            .well
                h1 My World Week 8 