html 
    head
        title
            //tell it to pull the title from server.js title, the object literals i have
            =title
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet") 
        // link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    body
        ul.nav.nav-tabs
            // jade will loop through this
            each tab in tabs
                // this is active when my activePath is equal to my tab path
                // the tab path is defined in server.js object literals
                
                //OLD
                // li(class={"active": activePath == tab.path})
                
                li(class={"active": tab.isActive(activePath)})
                    a(href=tab.path)
                        =tab.title
        
    
        //dot means div tag in jade
        .container
            .well
                h1 
                    =title
                    
            // jade thing called block
            block content